<div id="contenedor-barra-navegacion">
    <a href="/">ZapoGreen</a>
    <div class="contenedor-img"><img src="img/mexico.jpeg"></div>
</div>
<div class="Natalia">
    <iframe src="https://iot.app.initialstate.com/embed/#/tiles/bkt_369irqj7khza2gk3"></iframe>
</div>