<div id="contendor-barra-navegacion">
    <a href="/">ChaIoTes</a>
    <div class="contenedor-img"><img src="img/mexico.jpeg"></div>
</div>
<div class="contenedor-titulo-grafica1">
    <p>Comparacion de los niveles de contaminacion de los rios monitoreados</p>
</div>
<div class="contenedor-grafica1">
    <canvas id="myChart" style="height: 500px;"></canvas>
</div>
