<div id="contenedor-barra-navegacion">
    <a href="/">ZapoGreen</a>
    <div class="contenedor-img"><img src="img/mexico.jpeg"></div>
</div>
<div class="cont-general">
    <div class="contenedor-opciones">
        <div class="listado-opciones">
            <a href="/semaforo-calidad" class="cuerpo-contenedor-rios"><p>Semáforo de calidad</p></a>
            <a href="/comparacion" class="cuerpo-contenedor-rios"><p>Comparación entre distintos ríos</p></a>
            <a href="/dashboard" class="cuerpo-contenedor-rios"><p>Dashboard de variables</p></a>
        </div>
    </div>
    <div class="contenedor-cuerpo">
        <div class="cuerpo-img"><img src="img/mundo.jpeg"></div>
        <div class="cuerpo-contenedor-texto"><p>"Si supiera que el mundo se acaba mañana, yo, hoy todavía, plantaría un árbol"</p>
        <p>ChaIoTes 2020.</p>
        </div>
    </div>
</div>