<div id="contendor-barra-navegacion">
    <p>Monitoreo de la calidad del agua</p>
    <div class="contenedor-img"><img src="img/mexico.jpeg"></div>
</div>
<div class="contenedor-cuerpo">
    <div class="cuerpo-img">
        <img src="img/mundo.jpeg">
    </div>
    <div class="cuerpo-contenedor-rios"></div>
</div>