<div id="contendor-barra-navegacion">
    <p>Monitoreo de la calidad del agua</p>
    <div class="contenedor-img"><img src="img/mexico.jpeg"></div>
</div>
<div class="contenedor-cuerpo">
    <div class="cuerpo-img">
        <img src="img/mundo.jpeg">
    </div>
    <div class="cuerpo-contenedor-rios"></div>
</div>
<div class="contenedor-opciones">
    <div class="listado-opciones">
        <a href="/semaforo-calidad" class="cuerpo-contenedor-rios"><p>Semoforo de calidad</p></a>
        <a href="/comparacion" class="cuerpo-contenedor-rios"><p>Comparacion entre distintos rios</p></a>
        <a href="/comparacion" class="cuerpo-contenedor-rios"><p>Dashboard de varibles</p></a>
    </div>
</div>