*{
    margin: 0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}
#contenedor-barra-navegacion{
    display: inline-flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background: #4EA1DF;
    align-items: center;

}
#contenedor-barra-navegacion a{
    margin-left: 10px;
    color:white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
}
#contenedor-barra-navegacion img{
    margin-right: 25px;
}
.contenedor-img{
    display: inline-flex;
    justify-content: space-around;
    height: 100%;

    align-items: center;
}
.contenedor-img img{
    height: 75%;
}
