.contenedor-titulo-grafica1{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
}

.contenedor-grafica1{
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    text-align: center;
}

.Natalia{
    width: 100%;
}
.Natalia iframe {
	width: 100%;
	height: 800px;
	border: 0;
}
