.contenedor-cuerpo{
    height: 455px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: #F8F6F6;
}
.cuerpo-img img{
    width: 70%;
}
.contenedor-cuerpo div{
    width: 40%;
    height: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}


.contenedor-opciones{
    height: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #F8F6F6;
}
.listado-opciones{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.listado-opciones a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    color: black;
    border-radius: 10px;
    background: indigo;
}
.listado-opciones a:hover{
    background: #E3E2E2;
    transition: all 0.4s;
}

