.contenedor-cuerpo{
    height: 455px;
    width: 100%;
    display: inline-flex;

    align-items: center;
    background: #F8F6F6;
}
.cuerpo-img{
    display: inline-flex;
}
.cuerpo-img img{
    width: 55%;
}
.contenedor-cuerpo div{
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}


.contenedor-opciones{
    height: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #F8F6F6;
}
.listado-opciones{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.listado-opciones a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    color: black;
    border-radius: 10px;
    background: #D5D1D1;
}
.listado-opciones a:hover{
    background: #E3E2E2;
    transition: all 0.4s;
}
.cuerpo-contenedor-texto{
    text-align: center;
    display: grid;
}
.cuerpo-contenedor-texto p{
    font-size: 25px;
    font-family: 'Nerko One', cursive;
}