<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZapoGreen</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="css/grafica1.css" />-->
    <link rel="stylesheet" type="text/css" href="css/grafica1.css" />
    <link rel="stylesheet" type="text/css" href="css/barra.css" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    {{{body}}}
</body>
   <script>
        var ctx = document.getElementById("myChart").getContext("2d");
        var myChart = new Chart(ctx,{
            type:"bar",
            data:{
                labels:['Rio de San Juan de los Lagos','Rio de San Isidro','Rio Juchipila'],
                datasets:[{
                    data:[{{rio}},{{datos.rio2}},{{datos.rio3}}],
                    backgroundColor:[
                        //'rgb(0, 100, 0)',
                        'rgb(66, 134, 244)',
                        'rgb(74, 135, 72)',
                        'rgb(229, 89, 50)'
                    ]
                }]
            },
            options:{
                scales:{
                    yAxes:[{
                        ticks:{
                            beginAtZero:true
                        }
                    }]
                },
                responsive: false,
                legend: {
                    display:false
                }
            }
        });
    </script>
</html>